@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: Tinos;
  font-style: normal;
  src: local("Tinos Regular"), local("Tinos-Regular"), url("../../fonts/tinos-regular.woff") format("woff"), url("../../fonts/tinos-regular.ttf") format("truetype"); }

@font-face {
  font-weight: 400;
  font-family: Alboroto;
  font-style: normal;
  src: local("Alboroto"), local("Alboroto Regular"), local("AlborotoRegular"), url("../../fonts/alboroto.woff2") format("woff2"), url("../../fonts/alboroto.woff") format("woff"), url("../../fonts/alboroto.otf") format("opentype"); }

@font-face {
  font-weight: 400;
  font-family: Ukrainian Futuris;
  font-style: normal;
  src: url("../../fonts/nfuturis.eot") format("eot");
  src: local("Ukrainian Futuris Regular"), local("Futuris Regular"), url("../../fonts/nfuturis.woff2") format("woff2"), url("../../fonts/nfuturis.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Futuris Bold";
  font-style: normal;
  src: url("../../fonts/bfuturis.ttf") format("ttf"); }

@font-face {
  font-weight: 700;
  font-family: "Futuris Italic";
  font-style: normal;
  src: local("Ukrainian Futuris Italic"), local("Futuris Italic"), url("../../fonts/ifuturis.ttf") format("ttf"); }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Futuris', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #36434c;
  background-image: url("../img/stripes.png");
  background-position: top center;
  background-repeat: repeat-y;
  color: white;
  overflow-x: hidden; }

.page-content {
  flex-grow: 1; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hidden {
  display: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Ukrainian Futuris", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #36434c;
  color: white; }

h1, h2, h3,
.section-title {
  font-family: "Alboroto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px; }

.section-title {
  text-align: center;
  color: #ed493b;
  margin: 30px auto; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #ed493b; }

.btn {
  z-index: 10;
  display: block;
  vertical-align: top;
  margin: 0 auto;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none; }
  .btn--disabled {
    color: rgba(255, 255, 255, 0.5) !important;
    pointer-events: none; }

.social-btn {
  font-family: "Alboroto";
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .page-header .social-btn {
    margin-left: 5px; }
  .page-header .social-btn__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .social-btn__svg-icon {
    display: inline-block;
    vertical-align: top;
    fill: white; }
  .social-btn:hover svg {
    fill: #ed493b; }

.text-field__input {
  padding: 12px 20px;
  display: block;
  width: 100%;
  font-family: "Ukrainian Futuris", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #36434c;
  border: none;
  box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.2); }
  .text-field__input:-ms-input-placeholder {
    color: #36434c;
    text-overflow: ellipsis;
    font-family: "Ukrainian Futuris", sans-serif; }
  .text-field__input::placeholder {
    color: #36434c;
    text-overflow: ellipsis;
    font-family: "Ukrainian Futuris", sans-serif; }
  .text-field__input:-moz-placeholder {
    color: #36434c;
    text-overflow: ellipsis;
    font-family: "Ukrainian Futuris", sans-serif; }
  .text-field__input::-moz-placeholder {
    color: #36434c;
    text-overflow: ellipsis;
    font-family: "Ukrainian Futuris", sans-serif; }
  .text-field__input::-webkit-input-placeholder {
    color: #36434c;
    text-overflow: ellipsis;
    font-family: "Ukrainian Futuris", sans-serif; }
  .text-field__input:-ms-input-placeholder {
    color: #36434c;
    text-overflow: ellipsis;
    font-family: '$font', sans-serif; }

.text-field {
  display: flex;
  flex-grow: 1; }

.text-field--subscription .text-field__label {
  font-size: 0; }

.btn--subscription {
  font-size: 0;
  background-color: #ed493b;
  width: 70px;
  height: 45px;
  background-image: url("../img/icon-subscribe.png");
  background-repeat: no-repeat;
  background-position: center; }
  .btn--subscription:hover {
    opacity: 0.7; }

.subscription__form {
  display: flex; }

.page-header {
  padding-top: 25px;
  position: relative;
  background-image: url("../img/texture.png"); }
  .page-header .social {
    padding-top: 15px; }

.page-header__inner {
  min-width: 320px;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between; }

.page-footer {
  margin-top: auto;
  padding-top: 60px;
  background-color: #262f35; }
  .page-footer .contacts {
    margin-bottom: 40px; }
    .page-footer .contacts p {
      margin: 0; }
  .page-footer .navigation {
    margin-bottom: 40px; }
    .page-footer .navigation .navigation__link {
      padding-left: 0; }
  .page-footer .subscription {
    margin-bottom: 40px; }
  .page-footer h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px; }

.page-footer__inner {
  min-width: 320px;
  width: auto;
  margin: 0 auto;
  padding: 0 20px; }

.page-footer__copyright {
  text-align: center;
  padding: 0 30px; }

.navigation--main {
  padding-top: 15px; }

.navigation--main .navigation__list {
  display: none; }

.navigation--opened .navigation__list {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  margin-top: 50px;
  background-color: #bab6b0;
  background-image: url("../img/texture.png");
  text-align: center;
  font-size: 2rem;
  z-index: 1000; }

.navigation--no-js .navigation__list {
  display: block; }

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.navigation__item {
  margin-right: 0px;
  margin-bottom: 15px; }

.navigation__link {
  padding: 20px 10px;
  font-family: "Alboroto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  position: relative; }
  .page-header .navigation__link {
    padding-left: 15px; }
  .page-header .navigation__link::before {
    content: ".";
    position: absolute;
    left: 0;
    top: 10px;
    vertical-align: center;
    margin-bottom: 6px;
    font-size: 48px;
    line-height: 18px; }

.nav-toggle {
  margin: 0;
  padding: 0;
  z-index: 1000;
  font-size: 0;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent; }
  .nav-toggle::before {
    content: "X";
    position: absolute;
    top: 35px;
    right: 20px;
    font-family: "Alboroto", sans-serif;
    color: white;
    font-size: 32px; }
  .navigation--closed .nav-toggle::before {
    content: "|||";
    transform: rotate(-90deg); }
  .navigation--no-js .nav-toggle {
    display: none; }

.logo h1 {
  margin: 0; }

.logo_subtitle {
  margin: 0;
  text-transform: lowercase;
  font-size: 14px;
  display: none; }

.newsblock {
  padding: 10px;
  width: auto;
  max-width: 100%; }

.newsblock__item {
  display: flex;
  align-items: center; }
  .newsblock__item:not(:first-child) {
    display: none; }

.newsblock__image {
  width: 50%;
  padding: 10px; }
  .newsblock__image img {
    position: relative;
    z-index: 100;
    margin: 0;
    width: 100%;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.5); }

.newsblock__text {
  padding: 0 10px;
  width: 50%; }

.newsblock__title,
.newsblock__subtitle {
  margin: 0;
  font-family: "Ukrainian Futuris", sans-serif;
  font-size: 6px;
  font-size: 2.3vw;
  text-transform: none; }

.newsblock__title {
  margin-top: 30px; }

.newsblock__signature {
  text-align: right;
  margin-top: 15px; }
  .newsblock__signature img {
    display: inline-block !important;
    max-width: 50%; }

.newsblock__slogan {
  position: relative;
  font-family: "Tinos";
  font-size: 14px;
  font-size: 5vw;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  margin: 0 -9999px;
  padding: 0 9999px;
  margin-top: 20px; }

.quotes {
  min-width: 320px;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center; }

.quotes__inner .slick-prev,
.quotes__inner .slick-next {
  top: 0; }

.quotes__inner .slick-prev {
  left: auto;
  right: 40px; }

.quotes__inner .slick-next {
  left: auto;
  right: 0px; }

.quotes__item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .quotes__item:not(:first-child) {
    display: none; }

.share {
  text-align: right;
  margin-right: 60px;
  margin-bottom: 20px; }
  .share .social-btn__text {
    font-size: 0;
    letter-spacing: normal; }

.quotes__image {
  min-width: 100%; }
  .quotes__image img {
    min-width: 100%;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.5); }

.new-books {
  margin-bottom: 60px; }

.book-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.book-card {
  position: relative; }
  .book-card:not(:nth-child(-n+5)) {
    display: none; }

.book-card--comingsoon::after {
  content: "скоро";
  position: absolute;
  right: 0;
  top: 30px;
  background-color: #2e429b;
  color: white;
  font-family: "Alboroto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 4px 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.5); }

.book-card__title {
  font-size: 14px;
  margin: 0; }

.book-card__autor {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0; }

.book-card__image {
  min-width: 180px;
  min-height: 220px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.5); }
  .book-card__image img {
    display: inline-block !important;
    vertical-align: middle; }

.book-card__text {
  margin-top: 15px;
  text-align: left; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .newsblock .slick-list {
    overflow: visible; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: flex; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: flex; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: flex;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 40%;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    display: block;
    font-family: "Alboroto";
    font-size: 50px;
    line-height: 15px;
    vertical-align: top;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "<"; }
    [dir="rtl"] .slick-prev:before {
      content: ">"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ">"; }
    [dir="rtl"] .slick-next:before {
      content: "<"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 7px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: -30px;
        left: 0;
        content: ".";
        font-family: "Alboroto";
        font-size: 68px;
        line-height: 1;
        text-align: top;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 0.75; }

.slick-slide, .slick-slide * {
  outline: none !important; }

@media (min-width: 600px){
  .page-footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .page-footer__inner .contacts{
    width: 33.33%;
    margin-bottom: 0; }
  .page-footer__inner .navigation{
    width: 33.33%;
    margin-bottom: 0; }
  .page-footer__inner .subscription{
    width: 33.33%;
    margin-bottom: 0; }
  .page-footer__copyright{
    text-align: right; }
  .navigation--opened .navigation__list{
    height: auto; }
  .logo_subtitle{
    display: block; }
  .newsblock{
    padding: 30px; }
  .newsblock__text{
    padding: 0 30px;
    font-size: 18px;
    width: 60%; }
  .newsblock__subtitle{
    font-size: 14px; }
  .newsblock__title{
    font-size: 24px;
    font-size: 3vw; }
  .newsblock__slogan{
    font-size: 24px;
    font-size: 4vw; }
  .newsblock__image{
    width: 40%; }
  .quotes{
    margin-top: 65px;
    margin-bottom: 60px;
    max-width: 740px; }
  .share .social-btn{
    margin-right: 30px; }
  .share .social-btn__text{
    font-size: 18px;
    letter-spacing: 2px; }
  .quotes{
    width: 740px; } }

@media (min-width: 1200px){
  .page-header__inner{
    padding-right: 20px; }
  .navigation--main .navigation__list{
    display: flex; }
  .navigation__link{
    font-size: 14px; }
  .nav-toggle{
    display: none; } }

@media (min-width: 1280px){
  .page-header__inner{
    max-width: 1280px;
    padding: 0 30px; }
  .page-footer__inner{
    max-width: 1280px;
    padding: 0 30px; }
  .page-footer__inner{
    padding: 0 105px; }
  .page-footer__inner .contacts{
    width: auto; }
  .page-footer__inner .navigation{
    width: auto; }
  .page-footer__inner .subscription{
    width: 40%; }
  .navigation__link{
    font-size: 18px; }
  .logo{
    margin: 0 10px; }
  .newsblock{
    padding: 35px 30px;
    max-width: 880px;
    margin: 0 auto; }
  .newsblock__text{
    padding: 0 52px;
    width: 70%; }
  .newsblock__title{
    font-size: 24px;
    letter-spacing: 3px; }
  .newsblock__subtitle{
    letter-spacing: 3px;
    margin-left: 40px; }
  .newsblock__slogan{
    font-size: 36px; }
  .newsblock__image{
    width: 30%; }
  .quotes{
    max-width: 1280px;
    padding: 0 30px; } }
