/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-fb-name: 'icon-fb';
$icon-fb-x: 0px;
$icon-fb-y: 95px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: -95px;
$icon-fb-width: 15px;
$icon-fb-height: 25px;
$icon-fb-total-width: 152px;
$icon-fb-total-height: 120px;
$icon-fb-image: '../img/sprite.png';
$icon-fb: (0px, 95px, 0px, -95px, 15px, 25px, 152px, 120px, '../img/sprite.png', 'icon-fb', );
$icon-like-name: 'icon-like';
$icon-like-x: 88px;
$icon-like-y: 56px;
$icon-like-offset-x: -88px;
$icon-like-offset-y: -56px;
$icon-like-width: 22px;
$icon-like-height: 23px;
$icon-like-total-width: 152px;
$icon-like-total-height: 120px;
$icon-like-image: '../img/sprite.png';
$icon-like: (88px, 56px, -88px, -56px, 22px, 23px, 152px, 120px, '../img/sprite.png', 'icon-like', );
$icon-logo-name: 'icon-logo';
$icon-logo-x: 0px;
$icon-logo-y: 0px;
$icon-logo-offset-x: 0px;
$icon-logo-offset-y: 0px;
$icon-logo-width: 152px;
$icon-logo-height: 46px;
$icon-logo-total-width: 152px;
$icon-logo-total-height: 120px;
$icon-logo-image: '../img/sprite.png';
$icon-logo: (0px, 0px, 0px, 0px, 152px, 46px, 152px, 120px, '../img/sprite.png', 'icon-logo', );
$icon-nsta-name: 'icon-nsta';
$icon-nsta-x: 54px;
$icon-nsta-y: 56px;
$icon-nsta-offset-x: -54px;
$icon-nsta-offset-y: -56px;
$icon-nsta-width: 24px;
$icon-nsta-height: 25px;
$icon-nsta-total-width: 152px;
$icon-nsta-total-height: 120px;
$icon-nsta-image: '../img/sprite.png';
$icon-nsta: (54px, 56px, -54px, -56px, 24px, 25px, 152px, 120px, '../img/sprite.png', 'icon-nsta', );
$icon-subscribe-name: 'icon-subscribe';
$icon-subscribe-x: 0px;
$icon-subscribe-y: 56px;
$icon-subscribe-offset-x: 0px;
$icon-subscribe-offset-y: -56px;
$icon-subscribe-width: 44px;
$icon-subscribe-height: 29px;
$icon-subscribe-total-width: 152px;
$icon-subscribe-total-height: 120px;
$icon-subscribe-image: '../img/sprite.png';
$icon-subscribe: (0px, 56px, 0px, -56px, 44px, 29px, 152px, 120px, '../img/sprite.png', 'icon-subscribe', );
$spritesheet-width: 152px;
$spritesheet-height: 120px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-fb, $icon-like, $icon-logo, $icon-nsta, $icon-subscribe, );
$spritesheet: (152px, 120px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
