$color-red: #ed493b;
$bg-color: #36434c;

$mobile-width: 320px;
$tablet-width: 600px;
$menu-width: 1200px;
$desktop-width: 1280px;
$tablet-widths: "(min-width: #{$tablet-width})";
$menu-widths: "(min-width: #{$menu-width})";
$desktop-widths: "(min-width: #{$desktop-width})";
$mobile-only: "(max-width: #{$tablet-width - 1px})";

