.btn {
  z-index: 10;
  display: block;
  vertical-align: top;
  margin: 0 auto;

  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;


  &--disabled {
    color: transparentize(white, 0.5) !important;
    pointer-events: none;
  }
}

.social-btn {
  font-family: "Alboroto";
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;

  .page-header & {
    margin-left: 5px;
  }

  .page-header &__text {
    @include visually-hidden;
  }

  &__svg-icon {
    display: inline-block;
    vertical-align: top;
    fill: white;
  }

  &:hover svg {
    fill: $color-red;
  }

}