body {
  font-family: "Ukrainian Futuris", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #36434c;
  color: white;
}

h1, h2, h3,
.section-title {
  font-family: "Alboroto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
}

.section-title {
  text-align: center;
  color: $color-red;
  margin: 30px auto;
}

a {
  color: inherit;
  text-decoration:none;

  &:hover {
      color: $color-red;
  }
}
