
.page-footer {
	margin-top:auto;
	padding-top:60px;
	background-color: #262f35;

	.contacts {
		margin-bottom: 40px;

		p {
			margin: 0;
		}
	}

	.navigation {
		margin-bottom: 40px;

		.navigation__link {
			padding-left: 0;
		}
	}

	.subscription {
		margin-bottom: 40px;
	}

	h2 {
		margin: 0;
		margin-bottom: 30px;
		font-size: 18px;
	}
}

.page-footer__inner {
	@include container;
}

.page-footer__copyright {
	text-align: center;
	padding: 0 30px;
}


@media #{$tablet-widths} {

	.page-footer__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.contacts {
			width: 33.33%;
			margin-bottom: 0;
		}

		.navigation {
			width: 33.33%;
			margin-bottom: 0;
		}

		.subscription {
			width: 33.33%;
			margin-bottom: 0;
		}
	}

	.page-footer__copyright {
	text-align: right;
	}
}

@media #{$desktop-widths} {
	.page-footer__inner {
		padding: 0 105px;

		.contacts {
			width: auto;
		}

		.navigation {
			width: auto;
		}

		.subscription {
			width: 40%;
		}
	}
}
