.page-header {
	padding-top: 25px;
	position: relative;
	//background-color: #bab6b0;
	background-image: url("../img/texture.png");

	.social {
		padding-top: 15px;
	}

}

.page-header__inner {
	@include container;
	padding-right: 60px;
	display: flex;
	justify-content: space-between;
}

@media #{$menu-widths} {
	.page-header__inner {
		padding-right: 20px;
	}
}
