.logo {

  h1 {
  margin: 0;
  }
}

.logo_subtitle {
  margin: 0;
  text-transform: lowercase;
  font-size: 12px;
  display: none;
}

@media #{$tablet-widths} {
	.logo_subtitle {
		display: block;
	}
}

@media #{$desktop-widths} {
	.logo {
		margin: 0 10px;
	}
}
