.newsblock {
	padding: 10px;
	width: auto;
	max-width: 100%;
}


.newsblock__item {
	display: flex;
	align-items: center;
	&:not(:first-child) {
		display: none;
	}
}



.newsblock__image {
	width: 50%;
	padding: 10px;

	img {
		position: relative;
		z-index: 100;
		margin: 0;
		width: 100%;
		box-shadow: 0px 14px 24px 0px rgba(0,0,0,0.5);
	}
}

.newsblock__text {
	padding: 0 10px;
	width: 50%;
}

.newsblock__title,
.newsblock__subtitle {
	margin: 0;
	font-family: "Ukrainian Futuris", sans-serif;
	font-size: 6px;
	font-size: 2.3vw;
	text-transform: none;
}

.newsblock__title {
	margin-top: 30px;
}

.newsblock__signature {
	text-align: right;
	margin-top: 15px;

	img {
		display: inline-block !important;
		max-width: 50%;

	}
}

.newsblock__slogan {

	position: relative;
	font-family: "Tinos";
	font-size: 14px;
	font-size: 5vw;
	font-weight: 400;
	text-transform: uppercase;
	background-color: transparentize(black, 0.5);
	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
	margin: 0 -9999px;
	padding: 0 9999px;
	margin-top: 20px;
}


@media #{$tablet-widths} {

  .newsblock {
  	padding: 30px;
  }

	.newsblock__text {
	padding: 0 30px;
	font-size: 18px;
	width: 60%;
	}

	.newsblock__subtitle {
		font-size: 14px;
	}

	.newsblock__title {
		font-size: 24px;
		font-size: 3vw;
	}

	.newsblock__slogan {
	font-size: 24px;
	font-size: 4vw;
	}

	.newsblock__image {
		width: 40%;
	}
}


@media #{$desktop-widths} {

  .newsblock {
  	padding: 35px 30px;
  	max-width: 880px;
  	margin: 0 auto;

  }

	.newsblock__text {
	padding: 0 52px;
	width: 70%;
	}

	.newsblock__title {
		font-size: 24px;
		letter-spacing: 3px;
	}

	.newsblock__subtitle {
		letter-spacing: 3px;
		margin-left: 40px;
	}

	.newsblock__slogan {
	font-size: 36px;
	}

.newsblock__image {
	width: 30%;
	}
}